#sidebar {
	font-size: 30px;
	padding-top: 5px;
	width: 0px;
	height: 100%;
	position: fixed;
	color: #red;
	background: #fff;
	text-align: center;
}
 
#global-nav ul {
	list-style: none;
	margin-left: 10px;
}
#global-nav > ul > li {
	position: relative;
}
 
#global-nav a {
	color: #033560;
	text-decoration: none;
	display: block;
	padding: 30px;
	transition: background-color .3s linear;
}
 
/* sub-menu */
#global-nav .sub-menu-nav {
	position: fixed;
	background: #033560;
	color: #fff;
	top: 0;
	padding-top: 90px;
	left: 50px;
	width: 0;
	height: 100%;
	overflow: hidden;
	transition: width .2s ease-out;
}
#global-nav .sub-menu-nav a,
#global-nav .sub-menu:hover .sub-menu-nav {
	width: 230px;
}
